

$--login-card-background: #ececec;
$--login-card-header: #9fd3c7;


.first-color {
  background: #ececec;
}

.second-color {
  background: #9fd3c7;
}

.third-color {
  background: #385170;
}

.fourth-color {
  background: #142d4c;
}